@use '@carbon/react';
@use '@carbon/react/scss/breakpoint' as *;
@use '@carbon/colors';
@use '@carbon/styles';
@use '@carbon/grid';

@use '../components/TutorialHeader/tutorial-header';
@use '../pages/LandingPage/landing-page';
@use '../pages/repos/repo-page';

.cds--content {
    margin-top: 3rem;
    padding: 0;
    background: var(--cds-background);
}

.cds--content .cds--css-grid {
    max-width: 100%;

    @include breakpoint(md) {
        padding-left: 20px;
        padding-right: 20px;
    }
}